/* 0. Abstracts
======================================================================== */


/* 1. Base
======================================================================== */

body {
    -webkit-font-smoothing: antialiased;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
[tabIndex] {
    outline: none;
}

a[disabled],
input[disabled],
button[disabled],
textarea[disabled] {
    cursor: not-allowed !important;
    opacity: .5 !important;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

input[type="checkbox"][disabled] {
    opacity: 0 !important;
}

#root {
    position: relative;
    overflow: hidden;
}

.wil-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9;
}

.wil-overlay {
    background-color: rgba(58, 58, 58, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.list-none,
.list-none ul,
.list-none ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.disabled-scroll {
    position: fixed !important;
    left: 0;
    width: 100%;
    overflow-y: scroll;
}

.full-screnn {
    width: 100% !important;
    min-height: 100vh !important;
}

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.hide {
    display: none !important;
}

.xs-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (min-width: 768px) {
    .sm-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (min-width: 992px) {
    .md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    .lg-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (max-width: 767px) {
    .sm-hide {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .md-hide {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .lg-hide {
        display: none !important;
    }
}

.show {
    display: block !important;
}

@media (max-width: 767px) {
    .sm-show {
        display: block !important;
    }
}

@media (max-width: 991px) {
    .md-show {
        display: block !important;
    }
}

@media (max-width: 1199px) {
    .lg-show {
        display: block !important;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.wil__image {
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

.wil__image:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.wil__image--4by3:after {
    padding-top: 75%;
}

.wil__image--16by9:after {
    padding-top: 56.25%;
}

input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

textarea {
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

table th {
    text-align: left;
    font-weight: normal;
}

.rtl table th {
    text-align: right;
}

@media (max-width: 1199px) {
    .wil-table-responsive-lg {
        display: block;
    }
    .wil-table-responsive-lg tbody,
    .wil-table-responsive-lg tfoot,
    .wil-table-responsive-lg tr,
    .wil-table-responsive-lg th,
    .wil-table-responsive-lg td {
        display: block;
    }
    .wil-table-responsive-lg thead {
        display: none;
    }
    .wil-table-responsive-lg tr {
        margin-bottom: 0;
        border-bottom: 5px solid #e4e4e4;
    }
    .wil-table-responsive-lg tr:last-child {
        border: 0;
    }
    .wil-table-responsive-lg td {
        text-align: left !important;
    }
    .wil-table-responsive-lg td[data-th]:before {
        content: attr(data-th) ": ";
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.3em;
        color: #3a3a3a;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

@media (max-width: 991px) {
    .wil-table-responsive-md {
        display: block;
    }
    .wil-table-responsive-md tbody,
    .wil-table-responsive-md tfoot,
    .wil-table-responsive-md tr,
    .wil-table-responsive-md th,
    .wil-table-responsive-md td {
        display: block;
    }
    .wil-table-responsive-md thead {
        display: none;
    }
    .wil-table-responsive-md tr {
        margin-bottom: 0;
        border-bottom: 5px solid #e4e4e4;
    }
    .wil-table-responsive-md tr:last-child {
        border: 0;
    }
    .wil-table-responsive-md td {
        text-align: left !important;
    }
    .wil-table-responsive-md td[data-th]:before {
        content: attr(data-th) ": ";
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.3em;
        color: #3a3a3a;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

@media (max-width: 766px) {
    .wil-table-responsive-sm {
        display: block;
    }
    .wil-table-responsive-sm tbody,
    .wil-table-responsive-sm tfoot,
    .wil-table-responsive-sm tr,
    .wil-table-responsive-sm th,
    .wil-table-responsive-sm td {
        display: block;
    }
    .wil-table-responsive-sm thead {
        display: none;
    }
    .wil-table-responsive-sm tr {
        margin-bottom: 0;
        border-bottom: 5px solid #e4e4e4;
    }
    .wil-table-responsive-sm tr:last-child {
        border: 0;
    }
    .wil-table-responsive-sm td {
        text-align: left !important;
    }
    .wil-table-responsive-sm td[data-th]:before {
        content: attr(data-th) ": ";
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.3em;
        color: #3a3a3a;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.td-none {
    text-decoration: none !important;
}

.td-underline {
    text-decoration: underline !important;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis-mode-none .text-ellipsis {
    overflow: unset;
    text-overflow: unset;
    white-space: normal;
}

.text-ellipsis-mode-none .text-ellipsis.website {
    word-break: break-all;
}

.wil-text-left,
.text-left {
    text-align: left !important;
}

.rtl .wil-text-left,
.rtl .text-left {
    text-align: right !important;
}

.wil-text-center,
.text-center {
    text-align: center !important;
}

.wil-text-right,
.text-right {
    text-align: right !important;
}

.rtl .wil-text-right,
.rtl .text-right {
    text-align: left !important;
}

.bg-cover {
    background-size: cover;
    background-position: 50% 50%;
}

.bg-fixed {
    background-attachment: fixed;
}

.wil-circle {
    border-radius: 50% !important;
}

.o-hidden {
    overflow: hidden !important;
}

.o-visible {
    overflow: visible !important;
}

.pos-r {
    position: relative !important;
}

.pos-a {
    position: absolute !important;
}

.pos-a-center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pos-a-center-right {
    position: absolute !important;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.rtl .pos-a-center-right {
    right: auto;
    left: 0;
}

.pos-a-center2 {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pos-f-right-bottom {
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

.rtl .pos-f-right-bottom {
    right: auto;
    left: 20px;
}

.pos-f-top,
.pos-a-top {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
}

.rtl .pos-f-top,
.rtl .pos-a-top {
    left: auto;
    right: 0;
}

.pos-f-full,
.pos-a-full {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pos-f-right-bottom,
.pos-f-full,
.pos-f-top {
    position: fixed !important;
}

.wil-fl {
    float: left;
}

.rtl .wil-fl {
    float: right;
}

.wil-fr {
    float: right;
}

.rtl .wil-fr {
    float: left;
}

.mr-9 {
    margin-right: 9px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-42 {
    margin-bottom: 42px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-57 {
    margin-bottom: 57px !important;
}

.mb-68 {
    margin-bottom: 68px !important;
}

.mb-78 {
    margin-bottom: 78px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-95 {
    margin-bottom: 95px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.pt-20 {
    padding-top: 20px !important;
}


/* Typography */

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

@media (max-width: 768px) {
    body {
        overflow: hidden;
    }
}

ul li {
    list-style: none;
    font-size: 11px;
    font-weight: 400;
}

a {
    color: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    background-color: none !important;
    color: #8ed6e5;
}

a,
input,
textarea,
select {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.4em;
    color: #3a3a3a;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h3,
h1,
h2,
h3 {
    margin-bottom: 14px;
}

h4,
h5,
h6 {
    margin-bottom: 10px;
}

p {
    font-family: "Poppins", sans-serif;
    color: #767676;
    font-size: 14px;
}

span {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #3a3a3a;
    font-size: 12px;
}

img {
    max-width: 100%;
}

abbr {
    color: #67dee8;
    border-width: 2px;
}

mark,
.mark {
    background-color: #8ed6e5;
    color: #fff;
}


/* 1. Elements
======================================================================== */

input,
textarea {
    border: 0;
}

input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"],
select,
textarea {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #eee;
    height: 46px;
    padding: 0 15px;
    color: #767676;
    font-size: 14px;
}

input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"] {
    height: 46px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #767676;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #767676;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #767676;
}

textarea {
    resize: none;
    padding: 14px 15px;
    height: 160px;
    vertical-align: top;
}

.wil-section {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: white;
}

.wil-section--dark-1 {
    background-color: #262833;
}

.wil-section--dark-2 {
    background-color: #1B1F28;
}

.wil-section--dark-3 {
    background-color: black;
}

#content {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    margin-top: 70px;
}

@media (max-width: 768px) {
    #content {
        height: 100vh;
        overflow-y: scroll;
    }
}

#content.content--collapsed-to-slide-left {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

#content.content--collapsed-to-slide-right {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

#content.content--collapsed-reverse-slide {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

#content.content--collapsed-reveal {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

#content.content--collapsed-fall-down {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

#content.content--collapsed-open-door {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotateY(-30deg) skewY(-4deg) translate(8%, -2%) scaleX(0.8);
    transform: rotateY(-30deg) skewY(-4deg) translate(8%, -2%) scaleX(0.8);
    background: #444;
}

#content.content--collapsed-scale-up {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

#content.content--collapsed-rotate-3d-in,
#content.content--collapsed-rotate-3d-out {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

#content.content--collapsed-scale-down-pusher {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#content.content--collapsed-scale-rotate-down-pusher {
    -webkit-transform: scale(0.9) skewY(-15deg) translate(24%, -9%);
    transform: scale(0.9) skewY(-15deg) translate(24%, -9%);
    background-color: #444;
}


/* 2. Components
======================================================================== */

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background--yellow {
    background: #EBBC00;
}

.background--gradient-blue-purple {
    background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8C2BE2));
    background: linear-gradient(to right, #4A00E0, #8C2BE2);
}

.background--light-blue {
    background: #0ACDFF;
}

.background--dark-blue {
    background-color: #1B1F28;
}

.background--white {
    background: #fff;
}

.background--opacity {
    opacity: 0.92;
}

.wil-btn {
    display: inline-block;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

.wil-btn:hover {
    background-color: #695e5e;
    color: #fff;
}

.wil-btn[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}

.wil-btn--primary {
    background-color: #4aa8ff;
    color: #fff;
}

.wil-btn--primary:hover {
    background-color: #000;
    color: #fff;
}

.wil-btn--primary:focus {
    background-color: #000;
    color: #fff;
}

.wil-btn--success {
    background-color: #5cb85c;
    color: #fff;
}

.wil-btn--success:hover {
    background-color: #449d44;
    color: #fff;
}

.wil-btn--success:focus {
    background-color: #449d44;
    color: #fff;
}

.wil-btn--info {
    background-color: #5bc0de;
    color: #fff;
}

.wil-btn--info:hover {
    background-color: #31b0d5;
    color: #fff;
}

.wil-btn--info:focus {
    background-color: #31b0d5;
    color: #fff;
}

.wil-btn--warning {
    background-color: #f0ad4e;
    color: #fff;
}

.wil-btn--warning:hover {
    background-color: #ec971f;
    color: #fff;
}

.wil-btn--warning:focus {
    background-color: #ec971f;
    color: #fff;
}

.wil-btn--danger {
    background-color: #d9534f;
    color: #fff;
}

.wil-btn--danger:hover {
    background-color: #c9302c;
    color: #fff;
}

.wil-btn--danger:focus {
    background-color: #c9302c;
    color: #fff;
}

.wil-btn--link {
    background-color: transparent;
    color: #fe6565;
}

.wil-btn--link:hover {
    background-color: transparent;
    color: #fe6565;
    text-decoration: underline;
}

.wil-btn--link:focus {
    background-color: transparent;
    color: #fe6565;
}

.wil-btn--dark {
    background-color: #000;
    color: #fff;
}

.wil-btn--dark:hover {
    background-color: #fe6565;
    color: #fff;
}

.wil-btn--dark:focus {
    background-color: #fe6565;
    color: #fff;
}

.wil-btn--xs {
    padding: 4px 10px;
    font-size: 13px;
}

.wil-btn--sm {
    padding: 7px 20px;
    min-width: 130px;
    font-size: 16px;
}

.wil-btn--md {
    padding: 7px 20px;
    min-width: 130px;
    font-size: 22px;
    font-weight: 500;
}

.wil-btn--lg {
    padding: 6px 40px;
    min-width: 190px;
    font-size: 16px;
}

.wil-btn--square {
    border-radius: 0;
}

.wil-btn--round {
    border-radius: 5px;
}

.wil-btn--pill {
    border-radius: 40px;
}

.wil-btn--block {
    display: block;
    width: 100%;
}

.wil-btn--disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.wil-btn--transparent {
    background: transparent;
    color: black;
}

.wil-btn--transparent:hover {
    color: #FE2F57;
    background: transparent;
}

.wil-btn--transparent:focus {
    background: #FE2F57;
    color: white;
}

.wil-btn--gradient-red {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(13%, #FF6A28), color-stop(200%, #FB01C9));
    background-image: linear-gradient(to right, #FF6A28 13%, #FB01C9 200%);
    color: #fff;
}

.wil-btn--gradient-red:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(13%, #FF6A28), color-stop(200%, #FB01C9));
    background-image: linear-gradient(to right, #FF6A28 13%, #FB01C9 200%);
    color: #fff;
    opacity: 0.8;
}

.wil-btn--gradient-red:focus {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(13%, #FF6A28), color-stop(200%, #FB01C9));
    background-image: linear-gradient(to right, #FF6A28 13%, #FB01C9 200%);
    color: #fff;
}

.wil-btn--gradient-green {
    background-image: -webkit-gradient(linear, left top, right top, from(#AFF77E), to(#89D405));
    background-image: linear-gradient(to right, #AFF77E, #89D405);
    color: #fff;
}

.wil-btn--gradient-green:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#AFF77E), to(#89D405));
    background-image: linear-gradient(to right, #AFF77E, #89D405);
    color: #fff;
    opacity: 0.8;
}

.wil-btn--gradient-green:focus {
    background-image: -webkit-gradient(linear, left top, right top, from(#AFF77E), to(#89D405));
    background-image: linear-gradient(to right, #AFF77E, #89D405);
    color: #fff;
}

.wil-btn--border {
    border: 2px solid #FF6A28;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
}

.wil-btn--border:hover {
    color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(13%, #FF6A28), color-stop(200%, #FB01C9));
    background: linear-gradient(to right, #FF6A28 13%, #FB01C9 200%);
}

.wil-btn--xxs {
    padding: 2px 10px;
    font-size: 13px;
}

.wil-btn--bold {
    font-weight: 700;
}

.wil-btn--semibold {
    font-weight: 600;
}

.wil-btn--medium {
    font-weight: 500;
}

.wil-btn--poppins {
    font-family: "Poppins", sans-serif;
}

.wil-btn--montserrat {
    font-family: "Montserrat", sans-serif;
}

.wil-btn--lg {
    font-size: 18px;
}

@media (min-width: 400px) {
    .wil-btn--lg {
        font-size: calc(0.67568vw + 15.2973px);
    }
}

@media (min-width: 992px) {
    .wil-btn--lg {
        font-size: 22px;
    }
}

.wil-btn--md {
    font-size: 16px;
}

@media (min-width: 400px) {
    .wil-btn--md {
        font-size: calc(1.01351vw + 11.94595px);
    }
}

@media (min-width: 992px) {
    .wil-btn--md {
        font-size: 22px;
    }
}

.wil-btn--sm {
    font-size: 16px;
}

@media (min-width: 400px) {
    .wil-btn--sm {
        font-size: calc(0.33784vw + 14.64865px);
    }
}

@media (min-width: 992px) {
    .wil-btn--sm {
        font-size: 18px;
    }
}

.wil-btn--pink.active {
    background-color: #FE2F57;
    color: #fff;
}

.wil-btn--pink:focus {
    background-color: #FE2F57;
    color: #fff;
}

.wil-btn--pink:hover {
    background-color: #FE2F57;
    color: #fff;
}

.wil-btn--brown-1.active {
    background-color: #B77900;
    color: #fff;
}

.wil-btn--brown-1:focus {
    background-color: #B77900;
    color: #fff;
}

.wil-btn--brown-1:hover {
    background-color: #B77900;
    color: #fff;
}

.wil-btn--brown-2.active {
    background-color: #B66250;
    color: #fff;
}

.wil-btn--brown-2:focus {
    background-color: #B66250;
    color: #fff;
}

.wil-btn--brown-2:hover {
    background-color: #B66250;
    color: #fff;
}

.wil-btn--red.active {
    background-color: #FF0000;
    color: rgba(255, 255, 255, 0.85);
}

.wil-btn--red:focus {
    background-color: #FF0000;
    color: rgba(255, 255, 255, 0.85);
}

.wil-btn--red:hover {
    background-color: #FF0000;
    color: rgba(255, 255, 255, 0.85);
}

.wil-btn--dark.wil-btn--transparent {
    color: rgba(255, 255, 255, 0.85);
    background: transparent;
}

.wil-btn--dark.wil-btn--transparent.active {
    background: #FE2F57;
    color: #fff;
}

.wil-btn--dark.wil-btn--transparent:hover {
    color: #FE2F57;
}

.wil-btn--dark.wil-btn--transparent:focus {
    background: #FE2F57;
    color: white;
}

.wil-btn--dark.wil-btn--border {
    color: #fff;
}

.button-group {
    margin-bottom: 10px;
}

.button-group--center-horizontal {
    text-align: center;
}

.button-group--center-vertical {
    vertical-align: middle;
}

.button-group--center {
    vertical-align: middle;
    text-align: center;
}

.button-group--scrolling {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.button-group--scrolling .wil-btn {
    margin-bottom: 10px !important;
}

.slide-show {
    margin-bottom: 20px;
}

.divide {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 3px;
    margin-bottom: 10px !important;
}

.divide.center {
    margin: auto;
}

.divide--pink {
    background: #FF9FEC;
}

.divide--red-1 {
    background-color: #FEA3A3;
}

.divide--red-2 {
    background: #FF1313;
}

.divide--red-3 {
    background: #FF6A28;
}

.dot {
    width: 0;
    height: 0;
    padding: 7px;
    border: 2px solid #B4B4B4;
    border-radius: 50%;
    background: transparent;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;
}

.dot:hover {
    background: #FFBEBE;
    border-color: #FFBEBE;
}

.dot.active {
    background: #FFBEBE;
    border-color: #FFBEBE;
}

.dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 36px;
}

.icon {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: #FF6A28;
    margin-right: 20px;
    font-size: 24px;
    font-family: "Cabin", sans-serif;
}

.icon--lg {
    width: 60px;
    height: 60px;
}

.icon--md {
    width: 44px;
    height: 44px;
}

.icon--white {
    background: white;
    border-color: white;
}

.icon--green {
    background: #48E348;
    border-color: #48E348;
}

.icon--blue {
    background: #42C3CF;
    border-color: #42C3CF;
}

.icon--skin {
    background: #FEAC92;
    border-color: #FEAC92;
}

.icon--pink {
    background: #FF6DB1;
    border-color: #FF6DB1;
}

.icon--dark-blue {
    background: #428DCF;
    border-color: #428DCF;
}

.icon--purple {
    background: #A1B7FF;
    border-color: #A1B7FF;
}

.icon--purple-blue {
    background: #85B2FF;
    border-color: #85B2FF;
}

.icon--green-blue {
    background: #50D9C2;
    border-color: #50D9C2;
}

.icon--yellow {
    background: #FFE385;
    border-color: #FFE385;
}

.icon--border {
    border: 2px solid #FF6A28;
}

.icon--border-white {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.icon--text-white {
    color: white;
}

.icon--text-black {
    color: white;
}

.icon--dark.icon--white {
    background: black;
    border-color: black;
}

.icon--dark.icon--green {
    background: #48E348;
    border-color: #48E348;
}

.icon--dark.icon--blue {
    background: #42C3CF;
    border-color: #42C3CF;
}

.icon--dark.icon--skin {
    background: #FEAC92;
    border-color: #FEAC92;
}

.icon--dark.icon--pink {
    background: #FF6DB1;
    border-color: #FF6DB1;
}

.icon--dark.icon--dark-blue {
    background: #428DCF;
    border-color: #428DCF;
}

.icon--dark.icon--purple {
    background: #A1B7FF;
    border-color: #A1B7FF;
}

.icon--dark.icon--purple-blue {
    background: #85B2FF;
    border-color: #85B2FF;
}

.icon--dark.icon--green-blue {
    background: #50D9C2;
    border-color: #50D9C2;
}

.icon--dark.icon--yellow {
    background: #FFE385;
    border-color: #FFE385;
}

.icon--dark.icon--border {
    border: 2px solid #FF6A28;
    background: inherit;
}

.icon--dark.icon--text-white {
    color: black;
}

.icon--dark.icon--text-black {
    color: white;
}

.image {
    position: relative;
    margin-bottom: 36px;
}

@media (min-width: 992px) {
    .image {
        margin-top: 0px;
    }
}

.image .img {
    width: 100%;
}

.image--round {
    border-radius: 15px;
    overflow: hidden;
}

.image--pill {
    border-radius: 25px;
    overflow: hidden;
}

.image--circle {
    border-radius: 50%;
    overflow: hidden;
}

.image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
}

.image .overlay a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.image .overlay--transparent {
    background: transparent;
}

.image .overlay--black-1 {
    background: rgba(0, 0, 0, 0.4);
}

.image .overlay--black-2 {
    background: rgba(0, 0, 0, 0.5);
}

.link {
    font-weight: 400;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 576px) {
    .link {
        font-size: calc(0.9434vw + 12.56604px);
    }
}

@media (min-width: 1000px) {
    .link {
        font-size: 22px;
    }
}

.link--red {
    color: #FF6A28 !important;
}

.link--red:hover {
    opacity: 0.7;
}

.link--white {
    color: #fff;
}

.link--white:hover {
    color: #FF6A28;
}

.link--black-1 {
    color: rgba(0, 0, 0, 0.4);
}

.link--black-1:hover {
    color: #FF6A28;
}

.link--black-2 {
    color: rgba(0, 0, 0, 0.5);
}

.link--black-2:hover {
    color: #FF6A28;
}

.link--black-3 {
    color: rgba(0, 0, 0, 0.7);
}

.link--black-3:hover {
    color: #FF6A28;
}

.link--black-4 {
    color: rgba(0, 0, 0, 0.8);
}

.link--black-4:hover {
    color: #FF6A28;
}

.link--brown-1 {
    color: #fff;
}

.link--brown-1:hover {
    color: #B77900;
}

.link--brown-2 {
    color: rgba(0, 0, 0, 0.5);
}

.link--brown-2:hover {
    color: #B66250;
}

.link--bold {
    font-weight: 700;
}

.link--semibold {
    font-weight: 600;
}

.link--medium {
    font-weight: 500;
}

.link--cabin {
    font-family: "Cabin", sans-serif;
}

.link--montserrat {
    font-family: "Montserrat", sans-serif;
}

.link--dark.link--black-1 {
    color: rgba(255, 255, 255, 0.6);
}

.link--dark.link--black-1:hover {
    color: #FF6A28;
}

.logo svg {
    width: 100px;
}

@media (min-width: 320px) {
    .logo svg {
        width: calc(6.36364vw + 79.63636px);
    }
}

@media (min-width: 1200px) {
    .logo svg {
        width: 156px;
    }
}

.mock-up {
    position: relative;
    overflow: hidden;
}

.mock-up__skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 123;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mock-up__content {
    position: absolute;
    top: 1.70926%;
    left: 3.71747%;
    width: 92.56506%;
    height: 96.58147%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mock-up--rotate-left {
    -webkit-transform: rotate(-17deg);
    transform: rotate(-17deg);
}

.mock-up--rotate-right {
    -webkit-transform: rotate(16deg) translate(-42.63%, -1.5%);
    transform: rotate(16deg) translate(-42.63%, -1.5%);
}

@media (min-width: 501px) {
    .mock-up--rotate-right {
        -webkit-transform: rotate(16deg) translate(-42.63%, -0.5%);
        transform: rotate(16deg) translate(-42.63%, -0.5%);
    }
}

@media (min-width: 763px) {
    .mock-up--rotate-right {
        -webkit-transform: rotate(16deg) translate(-41.63%, 2%);
        transform: rotate(16deg) translate(-41.63%, 2%);
    }
}

@media (min-width: 1201px) {
    .mock-up--rotate-right {
        -webkit-transform: rotate(16deg) translate(-41.63%, 2.5%);
        transform: rotate(16deg) translate(-41.63%, 2.5%);
    }
}

.mock-ups {
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 575px) {
    .mock-ups {
        width: 66.666667%;
        margin: auto;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}

@media (min-width: 992px) {
    .mock-ups {
        -webkit-transform: translate(15%, -17%);
        transform: translate(15%, -17%);
    }
}

.wil-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    z-index: 999;
}

.wil-nav .nav__menu {
    padding: 0px 20px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 70px;
    background: white;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

@media (min-width: 768px) {
    .wil-nav .nav__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: initial;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        margin-bottom: 0px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        background: transparent;
        width: initial !important;
        -webkit-transform: initial !important;
        transform: initial !important;
    }
}

.wil-nav .nav__collapse-btn {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    cursor: pointer;
    margin-bottom: 0px;
    font-size: 25px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

@media (min-width: 768px) {
    .wil-nav .nav__collapse-btn {
        display: none;
    }
}

.wil-nav .nav__collapse-btn:hover {
    color: #FE2F57;
}

.nav__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 65%;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    visibility: hidden;
    opacity: 0;
    background: grey;
}

@media (min-width: 576px) {
    .nav__overlay {
        left: 40%;
    }
}

.nav__overlay.show {
    visibility: visible;
    opacity: 0.4;
}

.to-slide-left .nav__menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 65%;
}

@media (min-width: 576px) {
    .to-slide-left .nav__menu {
        width: 40%;
    }
}

.to-slide-left .nav__menu--collapsed-to-slide-left {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.to-slide-right .nav__menu {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%);
    width: 65%;
}

@media (min-width: 576px) {
    .to-slide-right .nav__menu {
        width: 40%;
    }
}

.to-slide-right .nav__menu--collapsed-to-slide-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.reverse-slide .nav__menu {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    width: 65%;
    z-index: -100;
}

@media (min-width: 576px) {
    .reverse-slide .nav__menu {
        width: 40%;
    }
}

.reverse-slide .nav__menu--collapsed-reverse-slide {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.reveal .nav__menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 65%;
}

@media (min-width: 576px) {
    .reveal .nav__menu {
        width: 40%;
    }
}

.reveal .nav__menu--collapsed-reveal {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.fall-down .nav__menu {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
    width: 65%;
}

@media (min-width: 576px) {
    .fall-down .nav__menu {
        width: 40%;
    }
}

.fall-down .nav__menu--collapsed-fall-down {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.open-door .nav__menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 65%;
}

@media (min-width: 576px) {
    .open-door .nav__menu {
        width: 40%;
    }
}

.open-door .nav__menu--collapsed-open-door {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.scale-up .nav__menu {
    left: 0;
    width: 65%;
    height: 100%;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scale(0);
    transform: scale(0);
}

@media (min-width: 576px) {
    .scale-up .nav__menu {
        width: 40%;
    }
}

.scale-up .nav__menu--collapsed-scale-up {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rotate-3d-in .nav__menu {
    width: 65%;
    -webkit-transition: 0.2s opacity, 0.5s -webkit-transform;
    transition: 0.2s opacity, 0.5s -webkit-transform;
    transition: 0.5s transform, 0.2s opacity;
    transition: 0.5s transform, 0.2s opacity, 0.5s -webkit-transform;
    visibility: hidden;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 0;
}

@media (min-width: 576px) {
    .rotate-3d-in .nav__menu {
        width: 40%;
    }
}

.rotate-3d-in .nav__menu--collapsed-rotate-3d-in {
    visibility: visible;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
}

.rotate-3d-out .nav__menu {
    width: 65%;
    -webkit-transition: 0.2s opacity, 0.5s -webkit-transform;
    transition: 0.2s opacity, 0.5s -webkit-transform;
    transition: 0.5s transform, 0.2s opacity;
    transition: 0.5s transform, 0.2s opacity, 0.5s -webkit-transform;
    visibility: hidden;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 0;
}

@media (min-width: 576px) {
    .rotate-3d-out .nav__menu {
        width: 40%;
    }
}

.rotate-3d-out .nav__menu--collapsed-rotate-3d-out {
    visibility: visible;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
}

.scale-down-pusher .nav__menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 65%;
}

@media (min-width: 576px) {
    .scale-down-pusher .nav__menu {
        width: 40%;
    }
}

.scale-down-pusher .nav__menu--collapsed-scale-down-pusher {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.scale-rotate-down-pusher .nav__menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 65%;
}

@media (min-width: 576px) {
    .scale-rotate-down-pusher .nav__menu {
        width: 40%;
    }
}

.scale-rotate-down-pusher .nav__menu--collapsed-scale-rotate-down-pusher {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav__link {
    font-size: 14px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding: 26px 15px;
}

.nav__link:hover {
    color: #FE2F57;
}

#nav__collapse-btn {
    display: none;
}

.logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.nav__menu {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.page-title {
    margin-bottom: 10px;
}

.page-title__main-title {
    font-size: 28px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
}

@media (min-width: 400px) {
    .page-title__main-title {
        font-size: calc(1.5vw + 22px);
    }
}

@media (min-width: 1200px) {
    .page-title__main-title {
        font-size: 40px;
    }
}

.page-title__main-title--black-3 {
    color: rgba(0, 0, 0, 0.7);
}

.page-title__main-title--black-4 {
    color: rgba(0, 0, 0, 0.8);
}

.page-title__main-title--brown-2 {
    color: #B77900;
}

.page-title__main-title--white {
    color: white;
}

.page-title__main-title--bold {
    font-weight: 700;
}

.page-title__main-title--semibold {
    font-weight: 600;
}

.page-title__main-title--medium {
    font-weight: 500;
}

.page-title__main-title--regular {
    font-weight: 400;
}

.page-title__main-title--lg {
    font-size: 32px;
}

@media (min-width: 400px) {
    .page-title__main-title--lg {
        font-size: calc(3.33333vw + 18.66667px);
    }
}

@media (min-width: 1000px) {
    .page-title__main-title--lg {
        font-size: 52px;
    }
}

.page-title__main-title--md {
    font-size: 24px;
}

@media (min-width: 400px) {
    .page-title__main-title--md {
        font-size: calc(3vw + 12px);
    }
}

@media (min-width: 1000px) {
    .page-title__main-title--md {
        font-size: 42px;
    }
}

.page-title__main-title--sm {
    font-size: 28px;
}

@media (min-width: 600px) {
    .page-title__main-title--sm {
        font-size: calc(1.66667vw + 18px);
    }
}

@media (min-width: 1200px) {
    .page-title__main-title--sm {
        font-size: 38px;
    }
}

.page-title__main-title--center {
    text-align: center;
}

.page-title__sub-title {
    font-size: 11px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (min-width: 400px) {
    .page-title__sub-title {
        font-size: calc(0.83333vw + 7.66667px);
    }
}

@media (min-width: 1000px) {
    .page-title__sub-title {
        font-size: 16px;
    }
}

.page-title__sub-title--center {
    text-align: center;
}

.page-title__sub-title--right {
    text-align: right;
}

.page-title__sub-title--brick {
    color: #FE2F57;
}

.page-title__sub-title--red {
    color: #FF6A28;
}

.page-title__sub-title--blue {
    color: #9F9FFF;
}

.page-title__sub-title--brown-2 {
    color: #B66250;
}

.page-title__sub-title--purple {
    color: #FB01C9;
}

.page-title__sub-title--grey {
    color: #979797;
}

.page-title__sub-title--pink {
    color: #FF9FEC;
}

.page-title--dark .page-title__sub-title--blue {
    color: #ADD8E6;
}

.page-title--dark .page-title__sub-title--grey {
    color: lightgrey;
}

.page-title--dark .page-title__sub-title--pink {
    color: #FF9FEC;
}

.page-title--dark .page-title__main-title {
    color: rgba(255, 255, 255, 0.85);
}

.page-title--dark .page-title__main-title--black-3 {
    color: rgba(255, 255, 255, 0.75);
}

.page-title--dark .page-title__main-title--black-4 {
    color: rgba(255, 255, 255, 0.85);
}

.page-title--dark .page-title__main-title--brown {
    color: #CC8171;
}

.page-title--dark .page-title__main-title--white {
    color: white;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.85);
}

.pop-up__container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    width: 71.66667%;
    height: 62.93706%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
}

.close-btn {
    background-image: url("../../assets/images/icon/icon-close.svg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    width: 24.15px;
    height: 24.15px;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.rate__content {
    position: relative;
    padding: 44px 29px 60px 39px;
    background: #7CB442;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.rate__content:after {
    content: '';
    position: absolute;
    width: 1px;
    border: 15px solid #7CB442;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 80px;
    bottom: 1px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.rate__customer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 65px;
}

.rate__customer-avatar {
    margin-right: 25px;
}

.customer__nane span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.customer__nane a.hightlight {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    trnasition: 0.3s all;
}

.customer__nane a.hightlight:hover {
    color: rgba(0, 0, 0, 0.8);
}

.quote-left {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: 13px;
    left: 13px;
    width: initial !important;
}

.quote-right {
    position: absolute;
    bottom: 13px;
    right: 13px;
    width: initial !important;
}

.rate {
    opacity: 0.5;
}

.active .rate {
    opacity: 1;
}

.slide {
    background: grey;
    height: 400px;
}

.active .slide {
    background: black;
}

.text {
    font-size: 14px;
    font-family: "Cabin", sans-serif;
    color: rgba(0, 0, 0, 0.4);
}
.text span {
    font-size: 14px;
    font-family: "Cabin", sans-serif;
    color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 400px) {
    .text {
        font-size: calc(0.25vw + 13px);
    }
    .text span {
        font-size: calc(0.25vw + 13px);
    }
}

@media (min-width: 1200px) {
    .text {
        font-size: 16px;
    }
    .text span {
        font-size: 16px;
    }
}

.text__link span {
    font-size: 16px !important;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

.text__link:hover span {
    color: #FE2F57;
}

span.text--black-2,
.text--black-2 {
    color: rgba(0, 0, 0, 0.5);
}

span.text--black-3,
.text--black-3 {
    color: rgba(0, 0, 0, 0.7);
}

span.text--black-4,
.text--black-4 {
    color: rgba(0, 0, 0, 0.8);
}

span.text--white,
.text--white {
    color: rgba(255, 255, 255, 0.85);
}

span.text--center,
.text--center {
    text-align: center;
}

span.text--md,
.text--md {
    font-size: 20px;
}

span.text--sm,
.text--sm {
    font-size: 18px;
}

span.text--cabin,
.text--cabin {
    font-family: "Cabin", sans-serif;
}

span.text--bold,
.text--bold {
    font-weight: 700;
}

span.text--semibold,
.text--semibold {
    font-weight: 600;
}

span.text--medium,
.text--medium {
    font-weight: 500;
}

.text--dark {
    color: rgba(255, 255, 255, 0.65);
}

.text--dark .text__link span {
    color: rgba(255, 255, 255, 0.65);
}

.text--dark:hover .text__link span {
    color: #FE2F57;
}

.text--dark--black-1 {
    color: rgba(255, 255, 255, 0.6);
}

.text--dark--black-3 {
    color: rgba(255, 255, 255, 0.75);
}

.textBoxHorizontal__info {
    margin-top: -5px;
}

.textBoxHorizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.textBoxHorizontal__title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    font-family: "Cabin", sans-serif;
    margin-bottom: 20px;
}

.textBoxHorizontal__desc {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 400px) {
    .textBoxHorizontal__desc {
        font-size: calc(0.5vw + 13px);
    }
}

@media (min-width: 1000px) {
    .textBoxHorizontal__desc {
        font-size: 18px;
    }
}

.textBoxHorizontal__desc--white {
    color: white;
}

.textBoxHorizontal--center-vertical {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.textBoxHorizontal--dark.textBoxHorizontal .textBoxHorizontal__title {
    color: rgba(255, 255, 255, 0.85);
}

.textBoxHorizontal--dark.textBoxHorizontal .textBoxHorizontal__info {
    color: white;
}

.textBoxHorizontal--dark.textBoxHorizontal .textBoxHorizontal__desc {
    color: rgba(255, 255, 255, 0.65);
}


/* wil-isotope-wrapper ---------------------------------*/

.wil-isotope-wrapper .wil-grid {
    display: flex;
    flex-wrap: wrap;
}

.wil-isotope-wrapper .wil-grid .grid-item {
    width: calc(100%/3);
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 15px;
}

.wil-isotope-wrapper .wil-grid .grid-item a {
    height: 100%;
    display: block;
}

.wil-isotope-wrapper .wil-grid .grid-item img {
    border-radius: 5px;
}

.wil-isotope-wrapper .wil-grid .grid-item h2 {
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
    font-size: 22px;
}

.wil-isotope-wrapper .wil-grid .grid-item h2 {
    margin: 0;
}

.wil-isotope-wrapper .wil-grid .grid-item:hover h2 {
    color: #ff6a28;
}
.demo {
    margin-bottom: 15px;
    text-align: center; }
.demo img {
    border-radius: 5px; }
.demo .link {
    -webkit-transition: 0.3s color;
    transition: 0.3s color; }
.demo:hover .link {
    color: #FF6A28; }
